/* Using the Nord theme https://www.nordtheme.com/ */

body {
  background-color: #3b4252;
}

.jumbotron {
  background-color: #2e3440;
}

.card {
  background-color: #4c566a;
}

.btn-primary {
  background-color: #434c5e;
}

footer {
  background-color: #2e3440;
}

.container-fluid {
  background-color: #2e3440;
}

.me {
  border-radius: 29% 29% 44% 44%;
  max-width: 10%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.col-md-6 {
  padding-right: 0px;
  padding-left: 0px;
}

form {
  color: white;
}

.form {
  width: 60%;
}

.form-group {
  padding: 15px 10px;

  background-color: #2e3440;
}

h5 {
  color: #fff;
}

.has-spacer {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-spacer-extra-space {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-side-spacer {
  margin-left: 30px;
  margin-right: 30px;
}

.project-title {
  font-size: 1.25rem;
}

.project-skill {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
}

.project-info-box {
  margin: 15px 0;

  padding: 30px 40px;
  border-radius: 5px;
}

.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

.project-info-box p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
.rounded {
  border-radius: 5px !important;
}
.btn-xs.btn-icon {
  width: 34px;
  height: 34px;
  max-width: 34px !important;
  max-height: 34px !important;
  font-size: 10px;
  line-height: 34px;
}

p {
  font-family: "Barlow", sans-serif !important;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.03rem;
  margin-bottom: 10px;
}
b,
strong {
  font-weight: 700 !important;
}

.border-secondary {
  border-color: #d5dadb !important;
}
.opc-25 {
  opacity: 0.25 !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.spacer-line-full-width,
.spacer-line-fw {
  width: 100%;
  line-height: 0;
  border-bottom: 2px solid #f7f7f7;
}

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

.bg-success:hover,
.bg-success:focus,
.bg-success:active,
.bg-success.active,
.open > .dropdown-toggle.btn-primary {
  background: lime;
}

.btn-primary:active,
.btn-primary.active {
  background: #007299;
  box-shadow: none;
}

a {
  color: salmon;
}

a:hover {
  color: #c32816;
}
